{% load static %}
<footer>
	<div style="background-color: black; margin-top: 18%">
		<span align="center">
			<p style="color: white;opacity: 1"><a href="https://github.com/adi-797"><i class="fa fa-github fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://linkedin.com/in/aditya-arora-124aba142/"><i class="fa fa-linkedin fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/adi.797"><i class="fa fa-facebook fa-3x"></i></a></p>
		</span>
	</div>
</footer>
</body>
</html>
