{% include 'stat/header.html' %}
{% csrf_token %}
{% if edit_flag == True %}
<div class="response">
  <p style="color: white; background-color: grey; opacity: 0.9;padding-left: 575px"> <i class="fa fa-pencil fa-2x">Edit your task.</i> </p>
</div>
<div class="mainform" align="left">
    <form action="{% url 'submit' %}" class="mainform">
      <input type="text" name="task" placeholder="Enter task" class="input" value="{{ task }}" required>
      <br>
      <br>
      <input type="time" name="time" placeholder="Enter time" class="input" value="{{ time }}" required>
      <br>
      <button class="btn btn-inverse" id="btn" align="center">Submit</button>
    </form>
</div>
<div>
  <a href="{% url 'view' %}" class="btn btn-inverse" style="margin-left: 700px;margin-bottom: 50px; background-color: black; color: white">View your tasks</a>
</div>
{% else %}
<div class="mainform" align="left">
    <form action="{% url 'submit' %}" class="mainform">
    	<input type="text" name="task" placeholder="Enter task" class="input" required>
    	<br>
    	<br>
    	<input type="time" name="time" placeholder="Enter time" class="input" required>
    	<br>
    	<button class="btn btn-inverse" id="btn" align="center">Submit</button>
    </form>
</div>
<div style="margin-right: 400px">
  <a href="{% url 'view' %}" class="btn btn-inverse" style="margin-left: 700px;margin-bottom: 50px;background-color: black; color: white">View your tasks</a>
</div>
{% if submit == True %}
<div class="response">
  <p style="color: white;background-color: grey;opacity: 0.9;border-radius: 10px;" align="center"> <i class="fa fa-check fa-2x">Your task has been logged.</i> </p>
</div>
{% endif %}
{% endif %}
{% include 'stat/footer.html' %}

<style type="text/css">
	.mainform {
  margin-top: 130px;
  margin-left: 358px;
  opacity: 0.8;
  margin-bottom: 100px;
}

.input {
	margin-left: 150px;
	border-radius: 0px;
	width: 200px;
	height: 45px;
	font-size: 24px;
	color: black;
}

#btn {
	background-color: black;
	color: white;
  opacity: 1;
}

.response {
  font-size: 28px;
  color: white;
  margin-left: 40px;
}
</style>